<!doctype html>
<html>
  <head>
    <title>Blood donation Portal</title>
    <link rel="stylesheet" type="text/css" href="css/aboutstyle.css">
  </head>

  <body>


    <section id="hero">
      <h2>GEIMS Blood Donation Portal</h2>
      <div>
      <p id="aboutgeims">“The world of healthcare has seen unprecedented changes during the challenging<br> times of Covid, and one cannot stress enough on the  requirement of quality healthcare  facilities <br>at affordable prices for the sustenance of a healthy life for a country like India. <br> Graphic Era has now embarked on another ambitious journey by establishing <br>one of the country’s most advanced healthcare facility, the city of Dehradun, <br>which will eventually attain the state of one of India’s Top Medical Colleges."</p>
      <img src="assets/President-geu-group.png" alt="hero dog"/>

<p id="kamalghansala"> Prof. Kamal Ghanshala 
<br>
Founder President, Graphic Era Group of Institutions</p></div>

      <a href="https://geimshospital.com/about-us.html" id="learnmorebtn">Learn more</a>
    </section>

    <section class="moreaboutus">
      <article class="three-col" id="how">
        <h3>Missions</h3>
        <img src="assets/details-2.jpg" alt="first image"/>
        <p>
          To become the most trusted institution for world-class healthcare and medical education in the state of Uttarakhand.
          Providing the highest quality patient care.
          Establish state of the art infrastructure, clinical and nursing care expertise.
          Provide quality medical education to nurture skilled Medical Practitioners.
          Doing charity to humanity irrespective of caste, race, or denominations.
        </p>
      </article>

      <article class="three-col" id="what">
        <h3>Vision</h3>
        <img src="assets/details-1.jpg" alt="second image"/>
        <p>
          To bring affordable, quality patientcare within the reach of every individual and produce skilled, competent, and ethical medical practitioners.
        </p>
      
      </article>

      <article class="three-col" id="facts">
        <h3>Other instituions</h3>
        <img src="assets/1614001612php31YHFe.jpeg" alt="third image"/>
        <p>
         Graphic era deemed university<br>
           Graphic era hill university,dehradun campus<br>
           Graphic era hill university,bhimtal campus<br>
            Graphic era hill university,haldwani campus<br>
        
        </p>
        
      </article>
    </section>


  </body>
</html>