<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="css/indexstyle.css">
    <script src="js/indexscript.js"></script>
    <title>Blood donation portal Geims</title>
</head>

<body> 
    <h1 class="geims"> Graphic Era Institure Of Medical Sciences</h1>
    <h2 class="geims">Blood donation Portal</h2>
    <section aria-label="container">
        <div class="carousel" data-carousel>
            <button class="car-btn prev" data-carousel-button="prev">&#x21e6;</button>
            <button class="car-btn next" data-carousel-button="next">&#x21e8;</button>
            <ul data-slides>
                
                <li class="slide"  >
                    <img src="assets/blood.jpeg" alt="alt" />
                </li>
                <li class="slide"  >
                    <img src="assets/blood.jpeg" alt="alt" />
                </li>
                <li class="slide">
                    <img src="assets/EBCIRGISI5E7PAS43SRFN27ANA.jpg" alt="alt2" />
                </li>
                <li class="slide">
                    <img src="assets/EBCIRGISI5E7PAS43SRFN27ANA.jpg" alt="alt2" />
                </li>
                <li class="slide">
                    <img src="assets/Blood-Donation-quotes-Is-A-Great-Act-Of-Kindness-3.webp" alt="alt3" />
                </li>
                <li class="slide">
                    <img src="assets/Blood-Donation-quotes-Is-A-Great-Act-Of-Kindness-3.webp" alt="alt3" />
                </li>
               
                <li class="slide" data-active>
                    <img src="assets/World-Blood-Donor-Day.jpeg" alt="bloodday" />
                </li>
                <li class="slide" data-active>
                    <img src="assets/World-Blood-Donor-Day.jpeg" alt="bloodday" />
                </li>
            </ul>
        </div>
    </section>
    <h3 class="learndonation">Learn about donation</h3>
    <div id="learnabtdonation">
        <div>
            <img id="dfacts" src="assets/donationFact.webp" alt="donation facts">
            <blockquote>
                <p>
                    After donating blood, the body works to replenish the blood loss. This stimulates the production of
                    new
                    blood cells and in turn, helps in maintaining good health.
                </p>
                <p> </p>
            </blockquote>
            <a class="donatebtn"><button onclick="openForm(); scrollToTop()"> &#x1fa78; Donate now</button></a>
        </div>
        <div>
            <img id="dchart" src="assets/Screenshot 2023-07-10 at 12.34.13 PM.jpg" alt="blood chart">
        </div>
    </div>
    <br />
    <div class="typeofdonation">
        <h3 class="learndonation">Types of Donation</h3>
        <p>The human body contains five liters of blood, which is made of several useful components i.e. Whole blood,
            Platelet, and Plasma.
        </p>
        <p>Each type of component has several medical uses and can be used for different medical treatments. your blood
            donation determines the best donation for you to make.</p>

        <p>For plasma and platelet donation you must have donated whole blood in past two years.</p>
    </div>

</body>

</html>